#agenwebsite_woocommerce_tiki{
	position:relative;
}

#agenwebsite_woocommerce_tiki .agenwebsite_shipping_settings{
    width: 70%;
    float: left;
}

#agenwebsite_woocommerce_tiki .agenwebsite_head{
    position: relative;
    top: -56px;
    text-align:right;
    width: 30%;
    float: right;
}

#agenwebsite_woocommerce_tiki:after{
    content: "";
    display: block;
    clear: both;
}

#agenwebsite_woocommerce_tiki table.form-table{
    width: 70%;
}

#agenwebsite_woocommerce_tiki #logo{
	max-height:25px;
}

#agenwebsite_woocommerce_tiki .useful-links{
	margin-top:3px;
	padding-left:6px;
}

#agenwebsite_woocommerce_tiki .useful-links a{
	text-decoration:none;	
}

#agenwebsite_woocommerce_tiki .useful-links li {
	display: inline;
}

#agenwebsite_woocommerce_tiki .useful-links .documentation {
	padding-right: 1.618em;
}

#agenwebsite_woocommerce_tiki .useful-links li:before{
	font-family: 'dashicons';
	position: relative;
	top: 2px;
	right: 5px;	
}

#agenwebsite_woocommerce_tiki .useful-links .documentation:before {
	content: "\f123";
}

#agenwebsite_woocommerce_tiki .useful-links .support:before {
	content: "\f107";
}

#agenwebsite_woocommerce_tiki .widefat.wc_input_table.sortable{
	width:auto;
}

#agenwebsite_woocommerce_tiki .premium-version{
    opacity: 0.6;
}

#agenwebsite_woocommerce_tiki .premium-version span{
    color:red;
    font-weight:900;
    padding-left:5px;
    font-style:italic;
}

#reset_default{
	margin-left:8px;
}

#agenwebsite_woocommerce_tiki .woocommerce_tiki_status_table{
	width:100%;
	text-align:left;
}

#agenwebsite_woocommerce_tiki .woocommerce_tiki_status_table td.load_status img{
    vertical-align: middle;
    margin-right: 5px;
}

#agenwebsite_woocommerce_tiki .woocommerce_tiki_status_table thead th a{
	float:right;
}

#agenwebsite_woocommerce_tiki .woocommerce_tiki_status_table mark,
#agenwebsite_woocommerce_tiki .woocommerce_tiki_status_table th{
	font-weight:700;	
}

#agenwebsite_woocommerce_tiki .woocommerce_tiki_status_table mark.no{
	color:red;
	background-color:transparent;
}

#agenwebsite_woocommerce_tiki .woocommerce_tiki_status_table mark.yes{
	color:#7ad03a;
	background-color:transparent;
}

#agenwebsite_woocommerce_tiki .woocommerce_tiki_status_table tr td a{
	float:right;
	font-size:13px;
	font-style:italic;
}

#agenwebsite_woocommerce_tiki .woocommerce_tiki_status_table tr:nth-child(2n) td,
#agenwebsite_woocommerce_tiki .woocommerce_tiki_status_table tr:nth-child(2n) th{
	background:#fcfcfc;
}

.notice_wc_tiki{
    background: #fff;
    border-left: 4px solid #fff;
    -webkit-box-shadow: 0 1px 1px 0 rgba( 0, 0, 0, 0.1 );
    box-shadow: 0 1px 1px 0 rgba( 0, 0, 0, 0.1 );
    margin: 5px 15px 2px;
    padding: 1px 12px;
}

.notice_wc_tiki p{
    margin: 0.5em 0;
    padding: 2px;
}

#agenwebsite_woocommerce_tiki .notice_wc_tiki{
    margin: 0;
}

.notice_wc_tiki.woocommerce-tiki{
    border-left-color: #EC8642;
}

.notice_wc_tiki.woocommerce-tiki .submit .button-primary{
    background:#EC8642;
    border-color: #EB6D19;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.25),0 1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.25),0 1px 0 rgba(0,0,0,.15);
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    text-shadow: none;
    font-weight: 700;
}

.notice_wc_tiki.woocommerce-tiki .submit .skip.button-primary{
    opacity: .7;
}

.notice_wc_tiki.woocommerce-tiki .submit .button-primary:hover{
    background: #EB6D19;
    border-color: #EB3B19;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.25),0 1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.25),0 1px 0 rgba(0,0,0,.15);
}

@media (max-width: 1224px) {
    .is-large-screen {
        display: none;
    }
}